@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-loading-skeleton/dist/skeleton.css';

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    @apply text-[14px] text-black-3;
  }

  [contenteditable='true']:empty:before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, 0.4);
    @apply font-bold block pointer-events-none;
  }
}
